doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon',type="image/jpg", href='ramadan.jpg')

    title Starter Template for Bootstrap

    link(
      rel="stylesheet"
      href="css/bootstrap.css"
    )
    script(
      src="/js/jquery-3.5.1.min.js"
    )
    script(
      src="/js/bootstrap.js"
    )

  body(class="container")
    ol(class="breadcrumb")
      li
       a(href="/") Home 
      li 
        a(href="/create") Create
      li 
        a(href="/read") Read
      li 
        a(href="/update") Update
      li 
        a(href="/delete") Delete
      
    h1 Assalamualaikum
    hr
    form(action="/" method="post" role="form")
      div(class="form-group")  
        label(class="col-sm-2") Table
        input(type="text" name="table_name" class="col-sm-8")
        input(type="submit" value="submit" class="col-sm-2")

    button(class="btn" onclick="fetch_data()") Fetch data
  script(
    src="js/popper-core.js"
  )
  script(
    src="/js/jquery-3.5.1.min.js"
  )
  script(
    src="/js/bootstrap.js"
  )
  script(
    src="/js/custom-ajax.js"
  )